@import url('https://fonts.googleapis.com/css?family=Lora:400,700|Source+Sans+Pro:300,400|Dosis:300,400,700');

/* https://astronautweb.co/snippet/font-awesome/ */

:root {
    --link-color: #007FFF; /* slateblue */
    --avatar-size: 80px;
}

html, body {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
}

.header, .footer {
    display: inline-flex;
    align-items: center;
    width: 100%;
}
.header .title, .footer .get-in-touch {
    flex-grow: 1;
}
.header .title h1 {
    margin-left: 10px;
}
.footer .get-in-touch p {
    margin-right: 10px;
    text-align: right;
}

article {
    width: 90vw;
    max-width: 700px;
    margin: 0px auto;
    padding: 10px;
    font-family: "Source Sans Pro", sans-serif;
    color: #36363C;
}

h1 {
    font-weight: 300;
    line-height: 1.5;
    font-size: 2.2rem;
}

.highlight-link {
    text-decoration: none;
    color: #36363C;
    display: inline-block;
    padding: 0px 7px;
    transition: all .2s ease-in-out;
    box-sizing: border-box;
    text-decoration: none;
    box-shadow: inset 0 -10px 0 var(--link-color);
}
.highlight-link:hover {
    box-shadow: inset 0 -55px 0 0 var(--link-color);
    color: white;
}
.arrow-link {
    color: #36363C;
    font-size: 1.5rem;
    text-decoration: none;
}
.arrow-link:after {
    content: "";
    color: var(--link-color);
}
.arrow-link:hover {
    color: #777;
}
/*
.arrow-link:hover:after {
    transform: translateX(7px);
}
*/

.avatar {
    height: var(--avatar-size);
    width: var(--avatar-size);
    border-radius: 50%;
    background-image: url('clement.png');
    background-position: center center;
    background-size: 100% auto;
}

.icon:after {
    position: relative;
    bottom: 0.2ex;
    margin-left: 10px;
    font-family: "FontAwesome";
    font-size: 1.5rem;
    display: inline-block;
    vertical-align: middle;
    -webkit-transition: all .15s ease-in-out;
}
.icon.socials:after {
    color: #777;
}
.icon.socials:hover:after {
    color: var(--link-color);
    transform: translateY(-7px);
}
.icon.calendar:after {
    content: "\f133";
}
.icon.linkedin:after {
    content: "\f08c";
}
.icon.twitter:after {
    content: "\f099";
}
